body {
    background-color:#454a58;
}

#earthChartdiv {
    width: 100%;
    height: 100%;
    max-width:100%;
    background-color:#454a58;
    /* display: none; */
}

#clockChartdiv {
  width: 320px;
  height: 320px;
  background-color:#454a58;
  position: absolute;
  /* bottom: 0;
  right: 0; */
  z-index: 1;
}

#animatedGuageChartdiv {
  width: 320px;
  height: 320px;
  background-color:#454a58;
  position: absolute;
  /* margin: right; */
  right: 0;
  z-index: 1;
  }

  #worldSolidGuageChartdiv {
    width: 320px;
    height: 320px;
    background-color:#454a58;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1
  }

  #solidGuageChartdiv {
    width: 500px;
    height: 500px;
    left: 0;
    background-color:#454a58;
  }

  #stadiumChartdiv {
    width: 420px;
    height: 420px;
    position: absolute;
    right: 0;
    bottom: 0
  }

  /* Page 2... */
#explodingChartdiv {
    width: 100%;
    height: 500px;
  }

  #brkChartdiv {
    width: 100%;
    height:100%;
  }